
  <h3 class="title-landing-page">Choose your product</h3>
  <div class="cards">
    <% products.forEach(product => { %>
    <div class="card">
      <div class="cover-img">
        <img src="img/products/<%= product.imageCover %>", alt="<%= product.title %>">
      </div>
      <div class="card-text">
        <h2><%= product.title %></h2>
        <p> <strong>Description:</strong> <%= product.description %></p>
      </div>
      <div class="card-stats">
        <div class="card-stats-items ">
          <div class="type">availbe</div>
          <div class="value"><%= product.availibility %></div>
        </div>
        <div class="card-stats-items ">
          <div class="type">price</div>
          <div class="value"><%= product.price %> kr</div>
        </div>
        <div class="card-stats-items ">
          <div class="type">rating</div>
          <div class="value"><%= product.ratingsAverage %></div>
        </div>
      </div>
      <button class="btn-read-more" type="button"><a href="/products/<%= product._id %>">Details</a></button>
    </div>
    <% }) %>
  </div>

